<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>HA HA!</string>
	<string>You Died</string>
	<string>Try Jumping</string>
	<string>Sorry</string>
	<string>Try Again</string>
	<string>You Tried</string>
	<string>Not Today</string>
</array>
</plist>
